.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 33px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.breakword {
  word-wrap: break-word;
}
.normal-wrap {
  word-wrap: normal;
}
.inherit-wrap {
  word-wrap: auto;
}
/*
.calc(@value1: 33%, @value2: 20px) {
  -webkit-calc: calc(@value1 (- @value2));
     -moz-calc: calc(@value1 (- @value2));
          calc: calc(@value1 (- @value2));
}
*/
/* Table of Content
==================================================
	#media queries
	#Joomla! Styles = classes and ids for Joomla! specific views

	#Joomla! Styles in progress of evaluation - most ok  */
/* media queries
======================================================== */
@media screen and (max-width: 480px) {
  
}
@media screen and (max-width: 767px) {
  body {
    font-size: 100%;
  }
  header {
    background: transparent !important;
    border-bottom: 0 !important;
  }
  header .headerlogo {
    margin: 1em 0;
  }
  header .headerlogo h1.logotext-sub {
    margin-bottom: 0 !important;
  }
  #main-pad {
    margin: 0 auto !important;
    padding: 0 !important;
  }
  #sidebar,
  .tabouter {
    margin-top: 5px !important;
  }
  .breadcrumb li:first-child,
  .breadcrumb li:last-child,
  .breadcrumb li a {
    padding: 5px;
  }
  .row-fluid [class*="span"] {
    width: 100% !important;
    float: left !important;
    margin: 0 0 1em 0;
  }
  ul.tabs li a {
    line-height: 2.2;
  }
  p.column-2 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }
  p.column-3 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
  }
  .nav-module-pad {
    padding: 1em !important;
  }
  a,
  button,
  nav,
  menu {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .search-style {
    float: left;
    margin-top: 1em;
  }
  .search-style .input-append,
  .search-style .module-body {
    width: 100%;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
    max-width: 100% !important;
  }
  .module.search-style {
    margin: 1em 0 !important;
  }
}
#main {
  display: block;
}
#main-pad {
  margin: 1em auto !important;
  padding: 1em 0 !important;
}
#sidebar {
  margin-top: 10px;
}
.actions-pad {
  margin: 0;
  font-size: .875em !important;
  background: transparent;
}
.actions-pad ul {
  margin: 0;
}
.footer-pad,
.copy-pad {
  font-size: 81.25%;
  display: block;
  text-align: center;
  padding: 1em;
}
.footer-pad {
  margin-top: 1em;
}
.headerlogo {
  margin: 1em 0;
}
.headerlogo a {
  width: 100%;
  background: transparent;
  display: inline-block;
  padding: 0;
  text-align: center;
}
.headerlogo a img {
  max-width: 100%;
  height: auto;
  position: relative;
}
.headerlogo h1.logotext-top {
  font-size: 4.4em;
  margin: 0;
}
.headerlogo h1.logotext-sub {
  font-size: 2.1em;
  margin-top: 0 !important;
  margin-bottom: 1em;
}
.headerlogo h1.logotext-sub span.j-blue {
  color: #748dc1;
}
.headerlogo h1.logotext-sub span.j-red {
  color: #cb3631;
}
.headerlogo h1.logotext-sub span.j-orange {
  color: #edbd4a;
}
.headerlogo h1.logotext-sub span.j-green {
  color: #92db34 !important;
}
.contentpane {
  padding: 10px;
  margin: 10px;
  max-width: 100%;
  background: #fff;
}
.contentpane .headerlogo {
  height: 40px;
}
.contentpane .headerlogo img {
  max-height: 40px;
  width: auto !important;
}
.module {
  color: #ffffff;
  background: transparent;
  margin-bottom: 1.5em;
  display: block;
  font-size: 1em;
}
.module a:hover,
.module a:active {
  text-decoration: underline !important;
  background: transparent !important;
}
.module .module-body {
  padding: 1em;
  display: block;
  overflow: hidden;
  height: 100%;
}
.module .module-body div {
  width: 100%;
  padding: 0;
}
.module .module-body ul {
  margin-bottom: 1em;
  list-style: none outside;
  margin-left: 0;
  padding: 0;
  width: 100%;
}
.module .module-title {
  padding: .5em 1em;
  margin: 0;
}
.module .module-title h4.title {
  color: #f5f5f5 !important;
  font-size: 1.25em;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}
/* modulfarben allgemein  -  grau- und schwarzwerte  */
.white .module-body {
  color: #666666;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  border-bottom: 0.5em solid #dcdcdc;
}
.white .module-title {
  background: #dcdcdc;
}
.white .module-title h4.title {
  color: #333333 !important;
}
.clouds .module-body {
  color: #666666;
  background: #ecf0f1;
  border: 1px solid #bdc3c7;
  border-bottom: 0.5em solid #bdc3c7;
}
.clouds .module-title {
  background: #bdc3c7;
}
.clouds .module-title h4.title {
  color: #333333 !important;
}
.concrete .module-body {
  background: #95a5a6;
  border: 1px solid #7f8c8d;
  border-bottom: 0.5em solid #7f8c8d;
}
.concrete .module-body p {
  color: #ffffff;
}
.concrete .module-body h1,
.concrete .module-body h2,
.concrete .module-body h3,
.concrete .module-body h4,
.concrete .module-body h5,
.concrete .module-body h6 {
  color: #eeeeee;
}
.concrete .module-title {
  background: #7f8c8d;
}
/* bunte modulfarben für infos - blau, rot, grün, gelb */
.midnightblue .module-body {
  background: #34495e;
  border: 1px solid #2c3e50;
  border-bottom: 0.5em solid #2c3e50;
}
.midnightblue .module-title {
  background: #2c3e50;
}
.jugfuldablue .module-body {
  background: #ffffff;
  color: #2c4d91;
  border: 1px solid #99baff;
  border-bottom: 0.5em solid #748dc1;
}
.jugfuldablue .module-title {
  background: #2c4d91;
}
.turquoise .module-body {
  background: #1abc9c;
  border: 1px solid #16a085;
  border-bottom: 0.5em solid #16a085;
}
.turquoise .module-title {
  background: #16a085;
}
.blue .module-body,
.info .module-body {
  background: #3498db;
  border: 1px solid #2980b9;
  border-bottom: 0.5em solid #2980b9;
}
.blue .module-title,
.info .module-title {
  background: #2980b9;
}
.my-red .module-body,
.alert .module-body {
  background: #e74c3c;
  border: 1px solid #c0392b;
  border-bottom: 0.5em solid #c0392b;
}
.my-red .module-body p,
.alert .module-body p {
  color: #ffffff;
}
.my-red .module-body h1,
.alert .module-body h1,
.my-red .module-body h2,
.alert .module-body h2,
.my-red .module-body h3,
.alert .module-body h3,
.my-red .module-body h4,
.alert .module-body h4,
.my-red .module-body h5,
.alert .module-body h5,
.my-red .module-body h6,
.alert .module-body h6 {
  color: #eeeeee;
}
.my-red .module-title,
.alert .module-title {
  background: #c0392b;
}
.green .module-body,
.success .module-body {
  background: #2ecc71;
  border: 1px solid #27ae60;
  border-bottom: 0.5em solid #27ae60;
}
.green .module-title,
.success .module-title {
  background: #27ae60;
}
.yellow .module-body,
.question .module-body {
  background: #f1c40f;
  border: 1px solid #f39c12;
  border-bottom: 0.5em solid #f39c12;
  color: maroon;
}
.yellow .module-title,
.question .module-title {
  background: #f39c12;
}
.orange .module-body {
  background: #e67e22;
  border: 1px solid #d35400;
  border-bottom: 0.5em solid #d35400;
}
.orange .module-title {
  background: #d35400;
}
/* module chrome for menu style */
.style {
  border: 0 !important;
  background: transparent !important;
}
.style .module-title {
  background: transparent !important;
  padding: .5em 0;
}
.style .module-title h4.title {
  color: #333333 !important;
}
.style .module-body {
  padding: 0 0 1em 0 !important;
  background: transparent !important;
}
.style .module-body ul li {
  margin-bottom: 5px !important;
}
.style .module-body ul li a {
  display: block;
  padding: .5em 1em;
  font-weight: normal;
  color: #2c3e50;
  background: #bdc3c7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #95a5a6;
}
.style .module-body ul li a:hover {
  color: #f5f5f5;
  background: #95a5a6 !important;
  text-decoration: none !important;
  border: 1px solid #7f8c8d;
}
.style .module-body ul li a:focus,
.style .module-body ul li a:active,
.style .module-body ul li .active a {
  color: #f5f5f5;
  background: #7f8c8d !important;
  border: solid 1px #666666;
}
/* module chrome II for menu style */
.menu-style .module-body {
  padding: 0 !important;
}
.menu-style .module-body ul {
  margin-bottom: 0 !important;
}
.menu-style .module-body ul li {
  margin: 0 !important;
}
.menu-style .module-body ul li a {
  display: block;
  padding: .5em 1em;
  border-bottom: 1px solid #ececec;
}
.menu-style .module-body ul li a:hover {
  color: #f5f5f5;
  background: #bdc3c7 !important;
  text-decoration: none !important;
}
.menu-style .module-body ul li a:focus,
.menu-style .module-body ul li a:active,
.menu-style .module-body ul li a .active {
  color: #fefefe;
  background: #95a5a6 !important;
}
.menu-style .module-body ul li ul {
  margin-bottom: 0 !important;
  list-style: disc outside !important;
}
.menu-style .module-body ul li ul li {
  margin-left: 2em !important;
}
.menu-style .module-body ul li ul li a {
  border-bottom: 1px solid #dcdcdc;
}
.accordion-group {
  border: 0 !important;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.menu-style .accordion {
  margin-bottom: 0;
}
.menu-style .accordion-inner ul {
  background: #ecf0f1;
}
.menu-style .accordion-heading .accordion-toggle {
  padding: .5em 1em !important;
}
.menu-style a.accordion-toggle {
  text-decoration: none !important;
}
.menu-style a.accordion-toggle:hover {
  color: #f5f5f5;
  background: #bdc3c7 !important;
}
.menu-style a.accordion-toggle:focus,
.menu-style a.accordion-toggle:active,
.menu-style a.accordion-toggle .active {
  color: #fefefe;
  background: #95a5a6 !important;
}
.menu-style a.accordion-toggle.accordion-parent.even {
  text-decoration: none !important;
  color: #f5f5f5;
  background: #bdc3c7 !important;
}
.menu-style a.accordion-toggle.accordion-parent.even:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  padding-right: 1em;
  content: "\f138";
}
.menu-style a.accordion-toggle.accordion-parent.even.collapsed:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  padding-right: 1em;
  content: "\f13a";
}
.menu-style a.accordion-toggle.accordion-parent.even:hover {
  color: #fefefe;
  background: #95a5a6 !important;
}
.menu-style a.accordion-toggle.accordion-parent.even:focus,
.menu-style a.accordion-toggle.accordion-parent.even:active {
  color: #fefefe;
  background: #7f8c8d !important;
}
/* module chrome transparent */
.transparent .module-body {
  background: transparent;
  border: 0 !important;
  color: #7f8c8d !important;
  padding: 0 !important;
}
.transparent .module-title {
  background: transparent;
  padding: 0 !important;
}
.transparent .module-title h4.title {
  color: #7f8c8d !important;
}
.search-style {
  margin: 0;
  width: 100%;
}
.search-style .module-body {
  background: transparent;
  border: 0 !important;
  color: #333333 !important;
  padding: .2em !important;
  margin: 0 !important;
  float: right;
}
.search-style .module-title {
  background: transparent;
}
.search-style .module-title h4.title {
  color: #333333 !important;
}
.search-style .btn {
  margin: 0;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  height: 3em /*@inputHeight + 1.5px*/;
  padding: .5em 1em;
  width: 4em;
}
.search-style .inputboxsearch-style {
  width: -webkit-calc(100% - 4em);
  width: -moz-calc(100% - 4em);
  width: calc(100% - 4em);
  height: 3em /*@inputHeight + 1.5px*/;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}
.search-style .inputboxsearch-style .no-csscalc {
  width: 75%;
  max-width: 75%;
}
#textsizer-embed {
  margin: 0;
  background: transparent;
  font-size: .875em;
}
ul.textresizer,
ul.actions {
  width: 100%;
  line-height: 1.3;
  list-style-type: none;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
ul.textresizer li,
ul.actions li {
  padding: 0;
  margin: 0;
}
ul.textresizer li a,
ul.actions li a {
  text-align: center;
  position: relative;
  display: block;
  float: left;
  width: 24%;
  font-weight: normal;
  text-decoration: none;
  margin-right: 1%;
  padding: .5em 0;
  color: #666666;
  background: #ececec;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
ul.textresizer li a:hover,
ul.actions li a:hover {
  color: #333333;
  background: #dcdcdc;
}
ul.textresizer li a:focus,
ul.actions li a:focus,
ul.textresizer li a:active,
ul.actions li a:active {
  color: #fefefe;
  background: #cbcbcb;
}
ul.textresizer li a.textresizer-active,
ul.actions li a.textresizer-active {
  color: #fefefe;
  background: #bcbcbc;
}
ul.actions li a {
  float: right;
  width: 32%;
}
ul.mynav {
  margin: 0 !important;
}
ul.mynav li {
  margin: 0 !important;
}
.gototop-pad {
  padding: 1em 0;
  text-align: center;
}
.gototop-pad ul li {
  list-style-type: none;
}
.gototop-pad ul li a {
  color: #ffffff;
  background: #bdc3c7;
  -webkit-border-radius: 20em;
  -moz-border-radius: 20em;
  border-radius: 20em;
  display: inline-block;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
  padding: .5em .6em;
}
.gototop-pad ul li a:hover {
  color: #f5f5f5;
  background: #95a5a6;
}
.gototop-pad ul li a:active {
  color: #f5f5f5;
  background: #7f8c8d;
}
.breadcrumbs-pad,
.textresizer-pad {
  margin: 0;
  font-size: 1em;
  background: transparent;
}
.breadcrumbs-pad {
  padding-left: 1em !important;
}
.textresizer-pad {
  padding-right: 1em !important;
  text-align: center;
}
.breadcrumb {
  font-size: .875em !important;
  width: 100%;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  background: transparent !important;
}
.breadcrumb li {
  list-style: none;
  position: relative;
  display: block;
  float: left;
  padding: 0;
  margin: 0 .4em 0 0;
}
.breadcrumb li a {
  text-decoration: none;
  font-weight: normal;
  position: relative;
  display: block;
  float: left;
  padding: .5em 1em;
  color: #666666;
  text-shadow: 0 0 0 transparent;
  background: #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.breadcrumb li a:hover {
  color: #666666;
  background: #dcdcdc;
}
.breadcrumb li a:focus,
.breadcrumb li a:active {
  color: #f5f5f5;
  background: #cbcbcb;
}
.breadcrumb li:first-child {
  padding: 0;
}
.breadcrumb li:last-child {
  padding: .6em 0;
}
.breadcrumb li span.divider {
  float: right;
  padding: .8em 0 0 .25em;
}
.content-showtags {
  margin: 5px 0 10px 0;
  font-size: 87.5%;
  border: 0px !important;
}
.content-showtags ul {
  margin-left: 0em !important;
}
.content-showtags ul li {
  list-style: none;
  display: inline;
}
.content-showtags a {
  color: #333 !important;
  background: #dedede;
  background: rgba(222, 222, 222, 0.9) !important;
  padding: 5px 10px;
  margin-right: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 3;
}
.content-showtags a:hover {
  color: #eee !important;
  background: #bebebe;
  background: rgba(0, 0, 0, 0.3) !important;
}
.content-showtags li a:focus,
.content-showtags li a:active,
.content-showtags li li.active a {
  color: #eee !important;
  background: #8c8c8c;
  background: rgba(0, 0, 0, 0.5);
}
dl.article-info {
  margin: 1em 0;
  font-size: 87.5%;
  color: #666;
}
.tags {
  padding: 0 0 1em 0;
}
.tags .label {
  color: #ffffff;
  background: #bdc3c7;
  padding: .5em .5em .55em .5em;
  font-weight: normal;
  font-size: .875em;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tags a:hover {
  color: #ffffff;
  background: #95a5a6;
  border: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tags a:focus {
  color: #ffffff !important;
  background: #7f8c8d !important;
  border: 0 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.slide {
  height: auto !important;
  width: 100%;
}
ul.tabs {
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
  display: block;
  zoom: 1;
  margin-bottom: 0px !important;
}
ul.tabs li {
  list-style-type: none;
  float: left;
  width: auto;
  height: 3em;
  padding: 0;
  display: block;
  margin: 0 .2em 0 0;
}
ul.tabs li:first-child a.active {
  margin-left: 0;
}
ul.tabs li a {
  display: block;
  text-decoration: none;
  width: auto;
  height: 3em;
  padding: .25em .5em;
  line-height: 2.5;
  border: solid 1px #ccc;
  border-width: 1px 1px 0 1px;
  margin: 0;
  font-size: 1em !important;
  font-weight: normal;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
ul.tabs li a:link,
ul.tabs li a:visited {
  text-decoration: none;
  font-size: 1em;
}
ul.tabs li a.active {
  background: #ffffff;
  height: 30px;
  position: relative;
  top: -4px;
  padding-top: 4px;
  border-left-width: 1px;
  margin: 0 0 0 -1px;
  color: #111;
}
ul.tabs li a.linkopen {
  background: #fff;
}
ul.tabs li a.linkopen:link,
ul.tabs li a.linkopen:visited {
  font-weight: normal;
  background: #ffffff;
}
ul.tabs li a.linkclosed {
  color: #ffffff;
  background: #bdc3c7;
}
ul.tabs li a.linkclosed:hover {
  color: #f5f5f5;
  background: #95a5a6;
}
ul.tabs li a.linkclosed:focus,
ul.tabs li a.linkclosed:active {
  color: #f5f5f5;
  background: #7f8c8d;
}
ul.tabs-content {
  margin: 0;
  display: block;
}
ul.tabs-content li {
  display: none;
}
ul.tabs-content li.active {
  display: block;
}
.tabcontent {
  padding: 1em;
  background: #fff;
  color: #444;
  border: solid 1px #ccc;
  border-width: 0 1px 1px 1px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.tabcontent:focus {
  outline: none;
}
.tabcontent ul {
  padding: 0;
}
.tabcontent ul li {
  list-style-type: none;
}
.tabopen {
  display: block;
  margin-bottom: 10px;
  overflow: hidden;
}
.tabclosed {
  display: none;
}
.tabouter {
  margin-top: 10px;
}
.unseen {
  margin: 1em 0 .5em 0;
}
a.unseen,
a.readmore-link,
a.comments-link {
  float: right !important;
}
a.unseen:after,
a.readmore-link:after,
a.comments-link:after {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  padding-left: 1em;
  content: "\f054";
}
a.readmore-link,
a.comments-link {
  background-image: none !important;
  margin-bottom: .5em;
}
a.comments-link:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  padding-right: 1em;
  content: "\f0e6";
}
.jcomments-links {
  display: inline-block;
}
a.unseen,
a.flat,
a.readmore,
a.readmore-link,
a.comments-link {
  color: #666666;
  background: #ececec !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: .5em 1em !important;
  display: block;
  float: left;
  font-size: 87.5%;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.4;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
a.unseen:hover,
a.flat:hover,
a.readmore:hover,
a.readmore-link:hover,
a.comments-link:hover {
  color: #333333;
  background: #dcdcdc !important;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
a.unseen:focus,
a.flat:focus,
a.readmore:focus,
a.readmore-link:focus,
a.comments-link:focus,
a.unseen:active,
a.flat:active,
a.readmore:active,
a.readmore-link:active,
a.comments-link:active {
  color: #fefefe;
  background: #cbcbcb !important;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.flat {
  float: right !important;
  margin: 0 0 .2em 0 !important;
}
.pager li a {
  color: #666666;
  background: #f5f5f5 !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: .5em 1em !important;
  float: none;
  display: inline-block;
  font-size: 87.5%;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.4;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.pager li a:hover {
  color: #666666;
  background: #dcdcdc !important;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.pager li a:focus,
.pager li a:active {
  color: #f5f5f5;
  background: #cbcbcb !important;
  border: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
li.next:before {
  content: "";
}
+ p.readmore {
  text-indent: 0 !important;
}
p.readmore,
a.readmore {
  text-align: right;
  display: block;
}
p.readmore span,
a.readmore span {
  padding-left: .5em;
}
p.counter {
  font-size: .875em;
  font-weight: normal;
  display: block;
  color: #999;
  padding: .5em 0;
}
.item {
  padding: 1em 0;
  display: block;
}
.item-page,
.blog,
.blog-featured {
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 1em 0;
  background: transparent;
}
.items-leading {
  display: block;
  overflow: hidden;
  margin-bottom: 1em;
}
.leading-0,
.leading-1,
.leading-2,
.leading-4,
.leading-5,
.leading-6 {
  display: block;
  overflow: hidden;
}
.item-separator {
  display: block;
  overflow: hidden;
  height: 1em;
}
.page-header,
.subheading-category {
  padding: 0;
  margin: 0;
  border-bottom: 0 !important;
}
.page-header h2,
.subheading-category h2,
.page-header h2.subtitle,
.subheading-category h2.subtitle {
  margin-top: 0;
}
.item-title {
  line-height: 1.2;
  padding: 0;
  margin: 0 0 0.75em 0;
  border-bottom: 0 !important;
}
.blog .category-desc {
  padding: 0;
  margin: 1em 0 2em;
}
.blog .cat-children .category-desc {
  padding: 0;
  margin: 1em 0 2em;
}
article .btn {
  padding: .5em 1em;
}
.content_rating {
  font-size: 87.5%;
  font-style: italic;
  margin-bottom: 1em;
}
.content_rating img {
  display: inline-block;
}
.content_rating p.unseen.element-invisible {
  display: inline-block;
  margin: 0 1em 0 0 !important;
  position: relative;
  top: -0.4em;
}
article .form-inline {
  padding-bottom: .5em;
  border-bottom: 0.25em solid #eeeeee;
}
#article-index {
  width: 25%;
  float: right;
  padding: 1em;
  margin: 1em 0 1em 1em;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #bdc3c7;
}
#article-index h3 {
  margin: 0;
  font-size: 1em;
}
#article-index ul {
  list-style-type: none;
  color: #666;
}
table.contenttoc {
  padding: 1em;
  margin: 1em;
}
table.contenttoc tr td {
  padding: 1px 0px;
}
.pagenavcounter {
  font-weight: normal;
  color: #7f8c8d;
  padding: 1em 0;
  margin: 1em 0;
}
dl.tabs {
  float: left;
  margin-top: 10px;
  margin-bottom: 0 !important;
  z-index: 50;
  clear: both;
}
dl.tabs h3 {
  font-size: .875em !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 2px 0 !important;
}
dl.tabs h3 a {
  color: #ffffff;
}
dl.tabs h3 a:hover,
dl.tabs h3 a:focus {
  text-decoration: none !important;
}
dl.tabs dt {
  float: left;
  padding: 10px;
  border-left: 1px solid #bdc3c7;
  border-right: 1px solid #bdc3c7;
  border-top: 1px solid #bdc3c7;
  border-bottom: 0;
  margin-right: 3px;
  color: #666666;
  background: #dcdcdc;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
dl.tabs dt.open a {
  color: #666666;
  background: #ffffff;
  border-bottom: 0;
  z-index: 100;
}
dl.tabs dt.closed {
  color: #ffffff;
  background: #bdc3c7;
}
dl.tabs dt.closed:hover {
  color: #f5f5f5;
  background: #95a5a6;
}
dl.tabs dt.closed:focus,
dl.tabs dt.closed:active,
dl.tabs dt.active a.closed {
  color: #f5f5f5;
  background: #7f8c8d;
}
div.current {
  clear: both;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 1em;
  color: #666666;
  background: #ffffff;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
div.current dd {
  padding: 0;
  margin: 0;
}
.pane-sliders {
  padding: 0;
  margin: 0;
}
.panel {
  padding: 0;
  margin: 0;
}
.panel h3.title {
  font-size: .875em !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: .25em;
}
.panel .pane-toggler a {
  display: block;
  padding: .5em 1em;
  line-height: 1.4;
  font-weight: normal;
  text-decoration: none !important;
  color: #ffffff;
  background: #bdc3c7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #999999;
}
.panel .pane-toggler a:hover,
.panel .pane-toggler a:focus,
.panel .pane-toggler-down a:hover,
.panel .pane-toggler-down a:focus {
  color: #f5f5f5;
  background: #95a5a6;
  text-decoration: none !important;
  border: 1px solid #7f8c8d;
}
.panel .pane-toggler-down a {
  display: block;
  padding: .5em 1em;
  line-height: 1.4;
  font-weight: normal;
  text-decoration: none !important;
  color: #f5f5f5;
  background: #7f8c8d;
  border: solid 1px #999999;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.panel .pane-down {
  padding: 1em !important;
  margin: -0.25em 0 0 0;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #bdc3c7 !important;
  display: inline-block;
  width: 100%;
}
.pane-down input[type="text"],
.pane-down input[type="password"] {
  display: block;
  width: 100% !important;
  max-width: 210px;
}
form {
  margin-bottom: 1em;
  min-height: 2em;
}
fieldset {
  margin: .5em 0;
  padding: 1em;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #f5f5f5;
  width: 100%;
  display: block;
  min-height: 2em;
}
label {
  display: inline-block;
  font-weight: normal;
  font-size: 87.5%;
  padding: 0 1em 0 .25em;
}
legend {
  display: inline-block;
  font-weight: normal;
  font-size: 87.5%;
  width: auto;
  padding: 0 .5em;
}
input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  max-width: 210px;
  height: 33px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #95a5a6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.25);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.25);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0,0,0,.25);
}
textarea {
  width: 100%;
  max-width: 210px;
  height: 198px;
}
.input-append .add-on,
.input-prepend .add-on {
  height: 33px;
  line-height: 23px;
}
span.optional {
  font-size: .875em;
  color: #999999;
}
button.btn.suche {
  margin: 0 !important;
  height: 35px;
  padding: 0 1.5em;
}
.highlight {
  font-weight: normal;
  display: inline-block;
  background: #FF9;
}
.module .element-invisible {
  display: none !important;
}
.module .input-prepend {
  width: 240px !important;
  max-width: 100% !important;
}
.module .input-prepend .input-large {
  width: 210px !important;
  max-width: 80% !important;
}
.module .input-prepend .add-on {
  width: 2em;
  color: #7f8c8d;
}
.pagination ul > li > a,
.pagination ul > li > span {
  font-size: .875em;
  padding: .5em 1em;
  line-height: 23px;
}
.tag-results {
  font-size: 87.5%;
  padding: .5em;
  margin: 0 0 1em 0;
  background: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #dcdcdc;
  display: inline-block;
  width: 100%;
}
dl.search-results {
  font-size: 87.5%;
}
dl.search-results dt.result-title {
  padding: .5em 0;
  font-weight: normal;
  border-top: 1px solid #dcdcdc;
}
dl.search-results dd {
  padding: .15em 0;
}
dl.search-results dd.result-text {
  padding: .15em 0;
}
dl.search-results dd.result-created {
  padding: .15em 0;
}
dl.search-results dd.result-category {
  padding: .15em 0;
}
.star {
  font-weight: normal;
  font-size: 1em;
  color: #999999;
}
.star .red {
  color: #e74c3c;
}
.tip-wrap {
  background: #f9f9f9;
  border: 1px solid #bdc3c7;
  padding: 1em;
  max-width: 300px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #cccccc;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #cccccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #cccccc;
}
.tip-wrap .tip-text {
  font-size: .875em;
}
.tip-wrap .tip-title {
  font-size: 1em;
}
.flexslider {
  background: transparent !important;
}
.syntaxhighlighter {
  padding: 1em 0 !important;
}
.phocamaps img {
  max-width: inherit;
}
.phocamaps .btn {
  margin-top: 0 !important;
}
.slabtexted .slabtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap;
}
.slabtextinactive .slabtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: 0 !important;
  *word-spacing: 0 !important;
}
.slabtextdone .slabtext {
  display: block;
}
